#header{
    padding-top: .80rem;
    padding-bottom: .80rem;
    background-color: rgba(45, 40, 53, 0.863);
    border: 1px solid rgba(248, 248, 248, 0.986);
    text-align: center;
    font-size: 17px;
    color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
}
#data{
    padding-top: .60rem;
    padding-bottom: .60rem;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#data2{
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(89, 180, 158, 0.479);
    border: 1px solid rgba(86,61,124,.2);
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table{
    
    margin-left: -50px;
    width: 100%;

    
}
.thread{
    display: flex;

}
.container{
    margin-top: 0;
    position: relative;
    top:-60px;
   

}
h1{
  text-align: center;
  margin-left: 10%;


}

body{
    width: 100%;
    height: 100%;
   
    
}

div.container{
   margin-right: 5%;
   margin-left: 17%;
   margin-top: 6%;
   display: inline-table;
   width: 100%;
}
.container-fluid {
    width: 100%;
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 175px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-weight: lighter;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: green;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  #topic{
    
    font-size: 30px;
    text-align: right;
    color: rgb(255, 255, 255);
    width: 98%;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    
    
  }

  #topicbar{
    background-image: linear-gradient( #1abc9c,#117e68);
    background-color:#32735e;
    height: 50px;
    width: 100%;
    
  }

  .container-fluid{
    width: 100%;
  }